<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <!-- Column 1 -->
      <div class="footer-column">
        <h3 data-json-key="footer_church">Maranatha Gemeinde</h3>
        <p>Elztal 34</p>
        <p>56254 Moselkern</p>
      </div>

      <!-- Column 2 -->
      <div class="footer-column">
        <h3 data-json-key="footer_service">Gottesdienst</h3>
        <p data-json-key="footer_time">Jeden Sonntag 10:00 Uhr bis ca. 12:30 Uhr</p>
        <p data-json-key="footer_translation">mit englischer Übersetzung</p>
        <p data-json-key="footer_online">auch Online-Teilnahme möglich</p>
      </div>

      <!-- Column 3 -->
      <div class="footer-column">
        <h3 data-json-key="footer_contact">Kontakt</h3>
        <p>
          <a href="mailto:office@maranatha-gemeinde.de"
            >office@maranatha-gemeinde.de</a
          >
        </p>
        <p data-json-key="footer_phone">Telefon: +49 160 - 973 526 41</p>
      </div>
    </div>
    <div class="footer-bottom">
      <p>© Copyright by Stiftung Maranatha All Rights Reserved</p>
    </div>
  </div>
</footer>
